.manage-schedule-container{

    .m-s-title{
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 17px;
        font-weight: 600;
    }

    .pick-hour-control{
        height: 150px;
        border: 1px solid red;
    }
}