/* reset margin,padding */
body{
    margin: 0 !important ;
    padding: 0 !important ;
}
.banner{
    background: url('banner.jpg') center center no-repeat;
    height: 865px;
    padding: 20px;
    
}
.red{
    border: 1px solid red;
}
.green{
    border: 1px solid green;
}
.about-sigin{
    height: 80px;
    width: 100%;
    text-align: right ;

}
.about , .sign_in{
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    text-transform: uppercase;
}
.sign_in{
    border: 2px solid rgb(130, 185, 75);
    border-radius: 20px;
    color: rgb(127, 197, 77);
    margin-right: 60px;
    margin-left: 25px;
}
.logo{
    background:  center center no-repeat;
    text-align: center;
    background-image: url(./hapoERP.png);
    margin-top: 40px;
    height: 100px;
}
.text{
    text-align: center;
    margin-top: 40px;
}
.btn-start-now{
    text-align: center;
}
button{
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid greenyellow;
    margin-top: 25px;
    cursor: pointer;
}

.content-center{
    margin-top: 20px;
    text-align: center;
}
.left, .center, .right{
    display: inline-block;
    width: 33%;
    text-align: center;
    margin-bottom: 20px;
}
span{
    display: block;
    font-size: 20px;
}
.text span{
    color: green;
}
img{
    height: 30px;
    width: 30px;
}



